.container{
    background-color: #f2f2f2;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .company{
    margin: 0%;
    background-color: yellow;
} */

.boxSearch{
    background-color: white;
    margin: 0; 
    height: 250px;
    /* background-size: 450px 250px;
    background-position: bottom right;
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center; */
}

.banimg{
    width: 450px;
    /* height: 250px; */
    margin-left: auto;
    margin-right: auto;
}

.outerSearchGrid{
    margin-top: 50px;
    flex-direction: column;
    align-content: flex-end;
}

.h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.h5{
    color: #6f78a5;
    font-weight: 400;
    margin-bottom: 70px;
}

.outlinedInput{
    border: 2px solid white;
    border-radius: 10px;
    width: 450px;
}

.formhelperText{
    color: #085ff7;
    padding-left: 20px;
    cursor: pointer;
}

.companiesHiring{
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
}

.company{
    background-color: #F0F0F0;
}